#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Z      &kp R       &kp O &kp P
                &kp X          &kp F       &kp K &kp L
            >;
        };
    };
 };
