#include <physical_layouts.dtsi>

/ {
  ergoslide_physical_layout: ergoslide_physical_layout {
    compatible = "zmk,physical-layout";
    display-name = "Ergoslide";

    keys  //                         w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  225    0       0     0     0>
            , <&key_physical_attrs 100 100  325    0       0     0     0>
            , <&key_physical_attrs 100 100  425    0       0     0     0>
            , <&key_physical_attrs 100 100  525    0       0     0     0>
            , <&key_physical_attrs 100 100  625    0       0     0     0>
            , <&key_physical_attrs 100 100  725    0       0     0     0>
            , <&key_physical_attrs 100 100  825    0       0     0     0>
            , <&key_physical_attrs 100 100 1025    0       0     0     0> // Right side
            , <&key_physical_attrs 100 100 1125    0       0     0     0> // Right side
            , <&key_physical_attrs 100 100    0  125       0     0     0>
            , <&key_physical_attrs 100 100  100  125       0     0     0>
            , <&key_physical_attrs 100 100  225  125       0     0     0>
            , <&key_physical_attrs 100 100  325  125       0     0     0>
            , <&key_physical_attrs 100 100  425  125       0     0     0>
            , <&key_physical_attrs 100 100  525  125       0     0     0>
            , <&key_physical_attrs 100 100  625  125       0     0     0>
            , <&key_physical_attrs 100 100  725  125       0     0     0>
            , <&key_physical_attrs 100 100  825  125       0     0     0>
            , <&key_physical_attrs 100 100 1025  125       0     0     0> // Right side
            , <&key_physical_attrs 100 100 1125  125       0     0     0> // Right side
            , <&key_physical_attrs 100 100    0  225       0     0     0>
            , <&key_physical_attrs 100 100  100  225       0     0     0>
            , <&key_physical_attrs 150 100  225  225       0     0     0>
            , <&key_physical_attrs 100 100  375  225       0     0     0>
            , <&key_physical_attrs 100 100  475  225       0     0     0>
            , <&key_physical_attrs 100 100  575  225       0     0     0>
            , <&key_physical_attrs 100 100  675  225       0     0     0>
            , <&key_physical_attrs 100 100  775  225       0     0     0>
            , <&key_physical_attrs 100 100    0  325       0     0     0>
            , <&key_physical_attrs 100 100  100  325       0     0     0>
            , <&key_physical_attrs 175 100  225  325       0     0     0>
            , <&key_physical_attrs 100 100  400  325       0     0     0>
            , <&key_physical_attrs 100 100  500  325       0     0     0>
            , <&key_physical_attrs 100 100  600  325       0     0     0>
            , <&key_physical_attrs 100 100  700  325       0     0     0>
            , <&key_physical_attrs 100 100  800  325       0     0     0>
            , <&key_physical_attrs 100 100    0  425       0     0     0>
            , <&key_physical_attrs 100 100  100  425       0     0     0>
            , <&key_physical_attrs 225 100  225  425       0     0     0>
            , <&key_physical_attrs 100 100  450  425       0     0     0>
            , <&key_physical_attrs 100 100  550  425       0     0     0>
            , <&key_physical_attrs 100 100  650  425       0     0     0>
            , <&key_physical_attrs 100 100  750  425       0     0     0>
            , <&key_physical_attrs 100 100  850  425       0     0     0>
            , <&key_physical_attrs 100 100    0  525       0     0     0>
            , <&key_physical_attrs 100 100  100  525       0     0     0>
            , <&key_physical_attrs 125 100  225  525       0     0     0>
            , <&key_physical_attrs 125 100  350  525       0     0     0>
            , <&key_physical_attrs 125 100  475  525       0     0     0>
            , <&key_physical_attrs 275 100  600  525       0     0     0>
            ;
  };
};
